<html>
    <head>
        <title>{{  Setting.PageTitle }} | {{ Setting.WebsiteTitle }}</title>
    </head>
    <body>
        <h1>{{ Content.PageTitle }}</h1>
        <p>
            {{ Content.Intro }}
        </p>
        <h2>
            {{ Content.SubTitle }}
        </h2>
        <p>
            {{ Content.content }}
        </p>
    </body>
</html>